//----------------------------------*\
// HTML tags general styles
//----------------------------------*/
h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

p {
  font-size: 1.2em;
}

section, div, article, a, {
  box-sizing: border-box;
}

html {
	height: 100%;
	background-color: #fff;
	color: #5a5665;
}

body {
  font-family: "Helvetica Neue";
  overflow: auto;
  font-size: 1em;
  color:white;
	overflow-x: hidden;
}
